<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501840765575-muio99kv2saok0g0lsrboeb4ig86leun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501840765575-muio99kv2saok0g0lsrboeb4ig86leun</string>
	<key>API_KEY</key>
	<string>AIzaSyDPop_M-EewSerAno_rI7qGztMesAN-AOo</string>
	<key>GCM_SENDER_ID</key>
	<string>501840765575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Test.NIBM-Article</string>
	<key>PROJECT_ID</key>
	<string>ios-cw</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-cw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501840765575:ios:449d7478740a5f3085ce22</string>
	<key>DATABASE_URL</key>
	<string>https://ios-cw.firebaseio.com</string>
</dict>
</plist>